
header{
    background-color: #272526;
    img{
        filter: contrast(200%);
    }
}
main{
    background-color: #011F32;
    .banner{
        .bannerText{
            h2{
                color: #DA096C;
                filter: contrast(200%) drop-shadow(0 0 5px black);
            }
        }
        .controls{
            background-color: #DA096C;
            border-radius: 15px;
        }
        div{
            height: 40vh;
        }    
    }
    .btnSearch{
        background-color: #DA096C;
        &:hover{
            border: 1px solid #DA096C;
            background-color: white;
            box-shadow: inset 0 0 15px #DA096C;
        }
    }
    .cards{
        .tarjetas{
            border: 2px solid #DA096C;
            transition: ease .2s;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0 0 10px #DA096C;
                margin: 2vh;
            }
        }
        .irDetails{
            background-color: #DA096C;
            color: white;
            font-weight: bold;
            &:hover{
                border: 2px solid #DA096C;
                background-color: white;
                color: #DA096C;
                text-decoration: underline;
            }
        }
    }
    .formulario{
        form{
            border: 2px solid #DA096C;
            background-color: #272526;
            padding: 1vw;
            margin: 2vw;
            border-radius: 15px;
            color: #DA096C;
            label{
                filter: contrast(200%);
            }
            button{
                background-color: #DA096C;
                color: white;
                &:hover{
                    border: 2px solid #DA096C;
                    background-color: white;
                    color: #DA096C;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
}
footer{
    height: auto;
    width: 100%;
    background-color: #272526;
    .btnSocial{
        height: 8vh;
        width: 8vh;
        border: none;
        background-position: center;
        background-size: 100% 100%;
        transition: ease .2s;
        &:hover{
            box-shadow: 0 0 1vw #DA096C;
            margin: 0 .2vw;
            transform: scale(1.05);
        }
    }
    .btnFacebook{
        background-image: url(/assets/facebook.png);
    }
    .btnWhatsApp{
        background-image: url(/assets/whatsapp.png);
    }
    .btnInstagram{
        background-image: url(/assets/instagram.png);
    }
    a{
        color: white;
        transition: ease .1s;
        &:hover{
            font-weight: bold;
            filter: drop-shadow(0 0 10px #DA096C);
        }
    }
}